* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #fff;
    color: #222;
}
.wrapper {
    min-height: 100vh;          /* висота на весь екран */
    display: flex;
    flex-direction: column;     /* вертикальний стек */
}

main, .category-page {
    flex: 1;                    /* контент займає все доступне місце */
}

footer {
    margin-top: auto;           /* футер завжди внизу */
}
